<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365061291095-79t9rvpj57lr5s4ij5lpuomgvp22fd9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365061291095-79t9rvpj57lr5s4ij5lpuomgvp22fd9f</string>
	<key>API_KEY</key>
	<string>AIzaSyCIi2wxhFs_9_tV46LxgqhZw7TcKYP09sM</string>
	<key>GCM_SENDER_ID</key>
	<string>365061291095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.Caralibro-Messenger</string>
	<key>PROJECT_ID</key>
	<string>caralibromessenger-8a1c3</string>
	<key>STORAGE_BUCKET</key>
	<string>caralibromessenger-8a1c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365061291095:ios:9fd7104a434c62f6ad7712</string>
</dict>
</plist>